.about-content-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-top: 215px;
  padding-bottom: 128px;
}
.about-pic {
  width: 268px;
  height: 335.109px;
  border-radius: 20px;
}

@media only screen and (min-width: 600px) {
  .about-content-container {
    overflow-y: scroll;
    max-width: 750px;
    align-self: center;
  }
  .about-pic {
    margin-left: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .about-content-container {
    width: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable both-edges;
    padding-top: 96px;
    padding-bottom: 32px;
  }

  .about-pic {
    width: 90%;
    height: auto;
    align-self: center;
    margin-left: 16px;
    margin-right: 16px;
  }
}
