.contact-container {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
.information-container {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.handshake {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 85%;
  align-self: center;
}
.underline-text {
  text-decoration-line: underline;
}

@media only screen and (max-width: 600px) {
  /* Add styling for work page for mobile devices */
  .information-container {
    display: flex;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
