@media only screen and (min-width: 600px) {
  /* Work styling for desktop */
  .project-container {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-inline: 16px;
    max-width: 750px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #d9d9d9;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
  .title-align-left {
    text-align: justify;
    align-items: flex-start;
    gap: 8px;
  }
}
@media only screen and (max-width: 600px) {
  /* Add styling for work page for mobile devices */
  .project-container {
    border: 1px solid #d9d9d9;
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 4px;
    display: flex;
    flex-direction: column;
  }
  .title-align-left {
    text-align: left;
    align-items: flex-start;
    gap: 4px;
  }
}
