* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  height: 100%;
}

@keyframes scroll {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}

body {
  cursor: url("cursor.svg"), auto;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("images/sky.jpg");
  background-size: auto 100%;
  background-position-x: 0px;
  animation: scroll 350s linear infinite;
}

.sky {
  height: 100%;
  z-index: -1;
  position: absolute;
}

.me {
  width: 350px;
  height: fit-content;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  outline: 16px white solid;
  outline-offset: -16px;
  animation: popin 1s ease-in;
}

.contentContainer {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  display: flex;
}

@keyframes popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  justify-self: flex-start;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  height: 100px;
}

.navItem {
  font-size: 35px;
  font-family: "PT Serif", serif;
  color: white;
  text-decoration: none;
  transition: all 0.1s ease-in;
  cursor: url("cursor.svg"), auto;
}
.navItem:hover {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 40px;
  border-radius: 5px;
  cursor: url("cursor.svg"), auto;
}

.title {
  font-size: 100px;
  font-family: "PT Serif", serif;
  color: white;
}

.homeLogo {
  width: 64px;
  position: absolute;
  padding: 32px;
  bottom: 0;
  right: 0;
}
