* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  height: 100%;
  min-height: 600px;
}

@keyframes scroll {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}

body {
  cursor: url("cursor.svg"), auto;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("images/sky.jpg");
  background-size: auto 100%;
  background-position-x: 0px;
  animation: scroll 350s linear infinite;
  min-height: 500px;
}

.sky {
  height: 100%;
  z-index: -1;
  position: absolute;
}

.me {
  max-height: 70%;
  min-height: 300px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  outline: 8px white solid;
  outline-offset: -16px;
  animation: popin 1s ease-in;
  min-height: 500px;
}

.contentContainer {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  display: flex;
  padding: 16px;
  padding-top: 32px;
}

@keyframes popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  justify-self: flex-start;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  height: 100px;
}

.navItem {
  font-size: 35px;
  font-family: "PT Serif", serif;
  color: white;
  text-decoration: none;
  transition: all 0.1s ease-in;
  cursor: url("cursor.svg"), auto;
}
.navItem:hover {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 40px;
  cursor: url("cursor.svg"), auto;
}

.title {
  font-size: 72px;
  font-family: "PT Serif", serif;
  color: white;
}

.homeLogo {
  width: 64px;
  position: absolute;
  padding: 32px;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 50px;
    font-family: "PT Serif", serif;
    color: white;
  }
  .navContainer {
    height: 70px;
  }
  .navItem {
    font-size: 0px;
    font-family: "PT Serif", serif;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease-in;
    cursor: url("cursor.svg"), auto;
  }
  .navItem:hover {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 25px;
    cursor: url("cursor.svg"), auto;
  }
  .container {
    outline-width: 8px;
  }
  .me {
    max-width: 90%;
  }
}
